body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.app {
    background: pink;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
}

input {
    margin: 5px 0;
    padding: 5px;
}

li {
    display: grid;
    grid-template-columns: 1fr 80px 120px 80px;
    align-items: center;
    margin: 5px 0;
}
 .error{
            color: #e74c3c;
        }

.completed {
    text-decoration: line-through;
    color: gray;
}

button {
    margin: 2px;
    cursor: pointer;
}